<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <!-- <a href="/w3images/lights.jpg" target="_blank"> -->
            <img src="/assets/2017.jpg" alt="Lights" style="width:100%">
            
          <!-- </a> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail" >
            <b>{{hotel.hotelName}} , {{hotel.city}}</b>
            <br><span class = "fa fa-star checked"></span> 
            <span class = "fa fa-star checked"></span>
            <span class = "fa fa-star checked"></span>
            <span class = "fa fa-star checked"></span>
            <span class = "fa fa-star unchecked"></span><br><br>
            <span id="boot-icon" class="bi bi-check" style="font-size:1rem"></span>Deluxe Rooms<br>
            <span id="boot-icon" class="bi bi-check" style="font-size:1rem"></span>Breakfast,Lunch,Dinner<br>
            <span id="boot-icon" class="bi bi-check" style="font-size:1rem"></span>Room Service<br>
            <span id="boot-icon" class="bi bi-check" style="font-size:1rem"></span>Power Backup<br>

          <!-- <a href="/w3images/nature.jpg" target="_blank"> -->
            <!-- <img src="/assets/beautiful.jpg" alt="Nature" style="width:100%"> -->
            <!-- <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div> -->
          <!-- </a> -->
          <!-- <div class="thumbnail">
            <b>Rs.4000 per night</b><br>
            Get AC/Non AC Rooms,Make Your Stay Comfortable With Us<br><br>
            <button class="btn btn-success">BOOK HOTEL</button></div> -->
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
            <b>Rs.{{hotel.price}} per night</b><br><br>
            Get AC/Non AC Rooms,Make Your Stay Comfortable With Us<br><br>
            <button class="btn btn-success" (click)="search()">Back to previous page</button>
          <!-- <a href="/assets/2017.jpg" target="_blank"> -->
            <!-- <img src="/assets/a48.jpg" alt="Fjords" style="width:100%"> -->
            <!-- <div class="caption">
              <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
            </div> -->
          <!-- </a> -->
        </div>
      </div>
    </div>
  </div>