
<div class="container-fluid mt-2">
    <div class="row footer-top">
        <div class="col-sm-4 text-center">
            <h4 class="ft-text-title">Plan4Holiday</h4>
            <h6 class="ft-desp">HappiestMinds Technologies Privated Limited 
                <br>Bangalore, India
            </h6>
            <h4 class="details">
                <a class="contact" href="tel:+977-1-4107223">
                    <i class="fa fa-phone" aria-hidden="true"></i> +977-000000</a>
                </h4>
            </div>
            <div class="col-sm-4 text-center border-left">
                <h4 class="ft-text-title">Our Team</h4>
                <div class="address-member">
                    <p class="member">
                        <b>Gourav Soni</b> 
                    </p>
                    <p class="member">
                        <b>Mehak Datta</b> 
                    </p>
                    <p class="member">
                        <b>Shwetha K</b>  
                    </p>
                    <p class="member">
                        <b>Savan Awanti</b> 
                    </p>
               </div>
           </div>
           <div class="col-sm-4 col-xs-12 text-center border-left">
            <h4 class="ft-text-title">About</h4>
            <div class="pspt-dtls">
                <a href="#" class="about">About</a>
                <a href="#" class="team">Team</a>
                <a href="#" class="advertise">Advertise</a>
                <br><br><br><br><br><br><br>
            </div>
        </div>
    </div>
	<div class="row ft-copyright pt-2 pb-2" style="padding-left: 25px;">
		<div class="col-sm-4 text-pp-crt">Copyright 2022-23 All  Rights Reserved</div>
		<div class="col-sm-4 text-pp-crt-rg">Java Batch-1</div>
		<div class="col-sm-4 developer">
			<a href="#" target="_blank" class="text-pp-crt">By : HappiestMinds</a>
		</div>
	</div>
</div>

