<div class="container mt-4">
    <h1 class="text-center"><b>WELCOME TO ADMIN DASHBOARD</b></h1>
	<div class="row">
		<div class="col-md-4">
			<div class="dbox dbox--color-1">
				<!-- <div class="dbox__icon">
					<i class="glyphicon glyphicon-cloud"></i>
				</div> -->
				<div class="dbox__body">
					<span class="dbox__count">8</span><br>
					<span class="dbox__title">Users Registered</span>
				</div>
				
				<!-- <div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>				 -->
			</div>
		</div>
		<div class="col-md-4">
			<div class="dbox dbox--color-2">
				<!-- <div class="dbox__icon">
					<i class="glyphicon glyphicon-download"></i>
				</div> -->
				<div class="dbox__body">
					<span class="dbox__count">12</span><br>
					<span class="dbox__title">Bookings</span>
				</div>
				
				<!-- <div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>				 -->
			</div>
		</div>
		<div class="col-md-4">
			<div class="dbox dbox--color-3">
				<!-- <div class="dbox__icon">
					<i class="glyphicon glyphicon-heart"></i>
				</div> -->
				<div class="dbox__body">
					<span class="dbox__count">25</span><br>
					<span class="dbox__title">Hotels</span>
				</div>
				
				<!-- <div class="dbox__action">
					<button class="dbox__action__btn">More Info</button>
				</div>				 -->
			</div>
		</div>
	</div>
</div>