.profile-image {
    max-width: 150px;
    max-height: 150px;
    border: 2px solid black;
    border-radius: 50%;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table tr td {
    padding: 15px 10px;
    border: 1px solid rgb(66, 130, 159);
    border-radius: 10px;
  }

  
  