
<head><meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .checked {
    color: orange;
  }
  </style>
</head>

<div class="bookcard">
   

   <div class="wrapper">
    <h1>Bangalore</h1>
    <div class="image i1"></div>
    <div class="details"><h1><em>Best views, Bring your friends and family to have great memories.</em></h1>
    <h2>P4H Resort <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span></h2>
    <p>World class amenity, with great rooms and food. </p>
    <p><i class="fa fa-wifi"></i> 
      <i class='fas fa-dumbbell' ></i> 
      <i class='fas fa-glass-cheers' ></i> 
      <i class='fas fa-swimming-pool'></i></p>
</div>
    <h4>Rs.750*<button type="submit">book</button></h4>

  </div>
</div>
