<div class="login-page">
    <figure></figure>
    <figure></figure>
    <figure></figure>

    <mat-card class="mat-elevation-z12">
        <mat-card-title style="text-align:center;">SIGN IN</mat-card-title>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
            <mat-tab label="Sign In">
                <mat-card-content>
                    <!-- {{userForm.value | json}} -->
                    <form (ngSubmit)="formSubmit()" method="post">
                        <mat-form-field>
                            <input matInput placeholder="User Name" name="username" required [(ngModel)]="loginData.username">
                            <!-- <mat-error *ngIf="email.invalid">Email is required</mat-error> -->
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Password" [(ngModel)]="loginData.password" type="password" name="password"
                                required>
                           
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>
                        <mat-checkbox required>Remember Me!</mat-checkbox>
                        <button mat-raised-button color="primary" class="login-button" type="submit">
                            Sign In
                        </button>

                    </form>
                </mat-card-content>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>
