<div class="jumbotron text-center jumbotron-fluid background">
    <h1 class="version1"><button type="button" (click)=" getAllHotel()" class="btn btn-danger">CLICK HERE TO SEE THE LIST OF HOTELS</button></h1>
    
    <!-- <form class="form-inline"> -->
        <div class="input-group">
          <input type="text" class="form-control" size="100" [(ngModel)]="searchText" placeholder="Enter Hotel name,City Name" required>
        </div>
      <!-- </form> -->
  </div>

  <div class="container">
   
<div class="container p-5">
<table class="table table-striped table-dark">
    <thead>
       
        <td>CITY</td>
        <td>HOTEL</td>
        <td>HOTEL</td>
        <td>Ratings</td>
    </thead>
    <tbody>
        
          <tr *ngFor="let item of hotel | search:searchText">
           
            <td>{{item.city}}</td>
            <td>{{item.hotelName}}</td>
            <td>{{item.ratings}}</td>
            <td><button (click)="bookHotel(item.id)" class="btn btn-danger">BOOK</button></td>
            <td><button (click)="viewDetails(item.id)" class="btn btn-success">View Details</button></td>
        </tr>
    </tbody>
</table>
</div>

  </div>