<div class="jumbotron jumbotron-fluid background">
    <div class="container">
      <h1 class="display-1">Your Stay Is Worthwhile</h1>
  
      <p class="lead display-4 pfont">Discover Best Places To Stay, Your Destination Awaits</p>
      <!-- <button type="button" class="btn btn-success">Discover more</button> -->
  
    </div>
  </div>
  
  
  <app-packages></app-packages>
  <div class="last">
    <div class="left">
      <div class="last3">
        <img
          src="https://hotelsienaborgogrondaie.com/img/apartments/rooms/rooms-slider.jpg">
        <div>
          <h3 style="font-weight: bold;">Travel The World</h3>
          <p style="font-family: 'Times New Roman', Times, serif;font-size: medium;">
            An idyllic beach on a faraway island? Shopping for rare treasures in an ancient city?
            A picnic in the Himalayas? A leisurely cruise on the Nile or a jungle adventure?</p>
        </div>
      </div>
      <div class="last3">
        <img src="https://tse1.mm.bing.net/th/id/OIP.zDlygMd-ok6QLInZDZi0kQHaE8?pid=ImgDet&w=1200&h=800&rs=1">
        
        <div>
          <h3 style="font-weight: bold;">Top Adventure</h3>
          <p style="font-family: 'Times New Roman', Times, serif;font-size: medium;">Mount Everest looms large, known around the world by hikers and non-hikers alike. But this is one behemoth
            that is best left to truly experienced travelers. </p>
        </div>
      </div>
      <div class="last3">
        <img src="https://www.jet2holidays.com/HotelImages/Web/FCO_77566_Smooth_Hotel_Rome_West_0419_04.jpg">
        <div>
          <h3 style="font-weight: bold;">Top Food festival</h3>
          <p style="font-family: 'Times New Roman', Times, serif;font-size: medium;">Join zillions of people on this fine night of September when the village of Naples gear up to make and
            consume more than 100,000 pizzas of every kind</p>
        </div>
      </div>
    </div>
    <img src="https://i.travelapi.com/hotels/1000000/10000/1600/1565/8686bb7b_z.jpg">
  </div>
  <br>
  
  <app-contact></app-contact>