
<div class="container mt-2">
    <h2 class="text-center">Transaction Details</h2>
<table class="table table-striped table-info" >
    <thead>
      <tr>
        <th scope="col">Payment Id</th>
        <th scope="col">Payment date</th>
        
        <th scope="col">Status</th>
        
      </tr>
    </thead>
    <tbody class="table-group-divider" *ngFor="let item of payment1">
      <tr *ngIf="item.username==this.username1">
       

        <th scope="row">{{item. paymentId}}</th>
        <td>{{item.paymentDate}}</td>
        <td>SuccessFull</td>
        
        
        
        
      </tr>
    
      
    </tbody>
  </table>
</div>
